.coverage
htmlcov
dist
.direnv
.venv

# dependencies
node_modules

# JS
.next
out
npm-debug.log

# misc
.DS_Store

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# vscode
pyrightconfig.json
sat-tasking-sprint.code-workspace

# python
.python-version
.venv
__pycache__
