@import "@styles/settings/_settings";

.header {
  width: 100%;
  font-size: 1em;
  color: $color-blue;
  background-color: white;
  padding: 1em 0;
  margin: 0;
}

.headerContainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerTitle {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
  display: inline;

  svg {
    margin-left: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.headerLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0 0.8em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 0.4em;
    }
  }
}

.toolbar {
  height: 35px;
  background-color: $color-light-gray;
  z-index: 9999;
  padding-left: 20px;
  padding-top: 4px;

  .resetSearch,
  .resetSearchIcon {
    display: inline-block;
    vertical-align: middle;
  }

  .resetSearch {
    margin-left: 20px;
    background: none;
    color: grey;
    padding: 0;
    text-decoration: none;
    border: none;
  }
}
