@import "@styles/settings/_settings";

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  z-index: 1001;
  background-color: white;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
}

.loader > * {
  align-self: center;
}
